@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'BR Candor', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


  .vertical-rounded-tab {
    --r: 20px; /* Adjusted radius */

    line-height: 1; /* Adjusted height */
    padding-inline: 0.3rem; /* Adjusted padding */
    border-block: var(--r) solid transparent;
    border-radius: var(--r) 0 0 var(--r) / calc(2 * var(--r));

    -webkit-mask:
      radial-gradient(var(--r) at 0 var(--r), transparent 90%, black 99%) 100%
        calc(-1 * var(--r)) / var(--r) 100% repeat-y,
      conic-gradient(black 0 0) padding-box;
    mask:
      radial-gradient(var(--r) at 0 var(--r), transparent 98%, black 99%) 100%
        calc(-1 * var(--r)) / var(--r) 100% repeat-y,
      conic-gradient(black 0 0) padding-box;

    background: white;
  }

